:root {
    --footer-size: 30px;
    --header-size: 38px;

    --main-background: white;
    --footer-background: #1ca1c1;
    --body-background: white;
    --acc-background: #ebedf0;
    --chartcount: 8; /* должно быть больше чем количество всех графиков */
    /* --body-background: rgb(80, 78, 78); */
}
.App {
    text-align: center;
    display: flex;
    /* width: 100vw; */
    background: var(--body-background);
    height: 100vh;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mainrow {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left {
    background: rgb(255, 255, 255);
    /* height: calc(100vh - var(--footer-size) - var(--header-size) + 4px); */
    height: calc(100% - var(--header-size) + 10px);
    /* height: 100%; */
    width: 20vw;
    /* height: 30px; */
}

.left > div {
    /* height: 100%; */
}

.webixitem {
    height: 100%;
    width: 100%;
    background: #ebedf0;
}

.main {
    background: var(--main-background);
    flex-grow: 1;
    /* height: calc(100vh - var(--footer-size) - var(--header-size)); */
    height: 100%;
    width: 80vw;
}

.footer1 {
    height: var(--footer-size);
    background: #61dafb;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.footer {
    position: fixed;
    height: var(--footer-size);
    background-color: var(--footer-background);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.demoscroll {
    height: 50vh;
}

.chart {
    width: 100%;
    /* расчт высоты графика нужен для первоначальной загрузки и одновременного отображения нескольких графиков */
    height: calc(
        calc(100vh - var(--footer-size) - var(--header-size) * 3) /
            var(--chartcount)
    );
}

.chartauto {
    width: "auto";
    height: "calc(var(--chartheight))";
    margin: "auto";
}

.headerlogo {
    height: var(--header-size);
    background: #97c9d4;
    background-image: url("./logo/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    height: var(--header-size);
    background: var(--footer-background);
}

.webix_view .webix_scrollview {
    background: #ebedf0;
}

/* .webix_view .webix_control .webix_el_toggle .webix_primary {
    width: 50% !important;
} */

.pages {
    visibility: hidden;
    /* display: none; */
}

.chart_height {
    /* height: 10px; */
}

#devicesParametersTab {
    height: calc(100vh - var(--footer-size) - var(--header-size) * 2);
}
.deviceLabel > div {
    background-color: #1ca1c1 !important;
    color: #ffffff !important;
    /* height: 38px; */
}

.no_editable {
    /* border: 0px solid white !important; */
    /* background: white !important; */
}
.editable {
    border: 2px solid #b6e2ec !important;
    /* border: 1px solid #454e50 !important;
    background: #d3eaf0 !important; */
}

.infoPic0 {
    background-image: url(./pictures/HRVS_DN_PowerStart.jpg) !important;
    height: 547px !important;
    /* width: 10vh !important; */
    width: 300px !important;
    background-repeat: no-repeat;
}

.infoPic1 {
    background-image: url(./pictures/pic2.jpg) !important;
    height: 547px !important;
    background-size: contain;
    /* width: 10vh !important; */
    width: 550px !important;
    background-repeat: no-repeat;
}

.infoPic2 {
    background-image: url(./pictures/pic3.jpg) !important;
    height: 547px !important;
    /* width: 10vh !important; */
    background-size: contain;
    width: 550px !important;
    background-repeat: no-repeat;
}

.infoPic3 {
    background-image: url(./pictures/pic4.jpg) !important;
    height: 547px !important;
    /* width: 10vh !important; */
    background-size: contain;
    width: 550px !important;
    background-repeat: no-repeat;
}

.infoPic4 {
    background-image: url(./pictures/pic5.jpg) !important;
    height: 547px !important;
    /* width: 10vh !important; */
    background-size: contain;
    width: 550px !important;
    background-repeat: no-repeat;
}

.infoPic5 {
    background-image: url(./pictures/pic6.jpg) !important;
    height: 547px !important;
    /* width: 10vh !important; */
    background-size: contain;
    width: 550px !important;
    background-repeat: no-repeat;
}

.infoPic6 {
    background-image: url(./pictures/pic7.jpg) !important;
    height: 547px !important;
    /* width: 10vh !important; */
    background-size: contain;
    width: 550px !important;
    background-repeat: no-repeat;
}

.infoView {
    /* background: #fbfbfb; */
}
